#classicformpage .view {
    /* background-image: url("http://mdbootstrap.com/img/Photos/Others/images/91.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
  #classicformpage .gradient {
   background-color:#201c1c ;
  }
  
  #classicformpage .card {
    background-color:#fa925b;
   
  }
  
  #classicformpage h6 {
    line-height: 1.7;
  }
  
  #classicformpage .navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  
  #classicformpage .top-nav-collapse {
    /* background: #424f95 !important; */
  }
  
  @media (max-width: 768px) {
    #classicformpage .navbar:not(.top-nav-collapse) {
      /* background: #424f95 !important; */
    }
  }
  
  #classicformpage label {
    color:#201c1c !important;
    background-color: #fa925b ;
  }
  
  .button{
    color:#fa925b !important;
    background-color:#201c1c !important ;
    width: 150px;
    height: 40px;
  }

  .facebook{
    color:white !important;
    background-color:#3a5898 !important ;
    height: 60px !important;
    width: 400 !important;
  }